// Light theme
$light-bg: #f8f3eb;
$light-surface: #fffaf4;
$light-surface2: #f7efe4;
$light-text: #33251c;
$light-muted: #6f6258;
$light-accent: #8b6f47;
$light-darkAcc: #6f5736;
$light-border: #dccbb6;

// Dark theme
$dark-bg: #21160b;
$dark-surface: #3b2619;
$dark-surface2: #5b4034;
$dark-text: #fef6ea;
$dark-muted: #fcebc4;
$dark-accent: #f4caac;
$dark-border: #e5b782;

// Shared
$radius-lg: 20px;
$radius-md: 14px;
$max-width: 1200px;

// Default theme
:root {
  color-scheme: light dark;
  --bg: #{$light-bg};
  --surface: #{$light-surface};
  --surface-2: #{$light-surface2};
  --text: #{$light-text};
  --muted: #{$light-muted};
  --accent: #{$light-accent};
  --border: #{$light-border};

  --radius-lg: #{$radius-lg};
  --radius-md: #{$radius-md};
  --max-width: #{$max-width};
}

// Dark theme
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #{$dark-bg};
    --surface: #{$dark-surface};
    --surface-2: #{$dark-surface2};
    --text: #{$dark-text};
    --muted: #{$dark-muted};
    --accent: #{$dark-accent};
    --border: #{$dark-border};
  }
}